<template>
  <div>
    <p v-for="name in names" :key="name">
      {{ name.id }} - {{ name.first }} {{ name.last }}
    </p>
    <hr />
    <div class="card" v-for="person in peoples" :key="person">
        <h2>{{ person.name }}</h2>

        <p class="card sub" v-for="friend in person.friends" :key="friend">
            {{ friend }}
        </p>
    </div>
    <hr />
    <div v-for="user in users" :key="user">
      <p v-if="user.age >= 45 && user.age <= 50">Name: {{ user.name }}</p>
      <p v-else-if="user.age >= 30 && user.age <= 44" style="color: red;">Name: <strong>{{ user.name }}</strong></p>
      <p v-else>Name: {{ user.name }}</p>
    </div>

  </div>
</template>

<script>
export default {
  name: "IterationView",
  data() {
    return {
      users:[
        { name: 'Jhon', age: 50 },
        { name: 'Born', age: 46 },
        { name: 'Dorn', age: 38 },
        { name: 'Korn', age: 34 },
      ],
      names: [
        { id: 0, first: "Test Index: ", last: "Elon" },
        { id: 1, first: "Big Black: ", last: "Bug" },
      ],
      peoples: [
        { id: 0, name: "Jhon Doe: ", friends: ["Scots Lang", "Tony Stark"] },
        { id: 0, name: "Tayer Swiff: ", friends: ["Leo messi", "JJ KK"] },
      ],
    };
  },
};
</script>

<style>
    .card{
        width: 30rem;
        margin: 1rem auto;
        padding: 0.5rem;
        border: 1px solid black;
    }
    .sub{
        width: initial;
        margin: 0.5rem;
    }
</style>