<template>
  <div>
    <!-- <Conditional /> -->
    <IterationView />
  </div>
</template>

<script>
  // import Conditional from './components/Conditional.vue';
  import IterationView from './components/Iteration.vue'
  export default {
    components:{
      // Conditional
      IterationView,
    }
  }
</script>